.site-header-container {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.left-column-container {
  border: 1px solid black;
}

.right-column-container {
  border: 1px solid black;
}

.site-footer-container {
  border: 1px solid black;
}

.news-grid {
  border: 1px solid black;
  height: 700px;
}

/**** semantic ui overrides ****/

.ui.grid {
  margin: 0px !important;
}